.chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          Current Group
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member Ruby, Python
      =link_to "Edit", edit_group_path(:id), class: "main-header__edit-btn"
    .messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :text, class: 'input-box__message', placeholder: 'type a message'
        .fa.fa-image
          = f.label :image, class: 'input-box__image__file' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit__btn'